body{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://scontent-vie1-1.xx.fbcdn.net/v/t31.0-8/10329815_759767587402845_6582717866247974575_o.jpg?_nc_cat=107&ccb=2&_nc_sid=e3f864&_nc_ohc=4sCA4reDU3IAX_KUWxW&_nc_ht=scontent-vie1-1.xx&oh=db61c487ca93f27f71be7271bcf3d80d&oe=5FFE49CA') repeat center center fixed;
    background-size: 150%;
}

img{
    width: 120px;
    height: 120px;
}

#harom{
    list-style-type: none;
}

a{
    color: black;
}

.profile-card{
    background-color: rgba(160, 99, 7, 0.767);
    border-radius: 4px;
    width: 500px;
    height: 600px;
    max-width: calc(100vw - 10px);
}

.head{
    text-align: center;
    width: 90%;
    margin:0 auto;
    margin-bottom: 10%;
}

.content{
    width: 90%;
    margin:0 auto;
    padding: 5% 10%;
    border-top: 1px solid rgb(116, 63, 2);
    border-width: 3px;
}

.profile-image{
    margin-top: -60px;
}

.about{
    margin-bottom: 10%;
    text-align: center;
}

.links{
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
 i{
    color: black;
 }